<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Familiares</title>
</head>
<body>
    <h1>Hola Familia!</h1>
    {% for familiar in data_familia %}
                <p>{{ familiar.id }}</p>
                <p>{{ familiar.nombre }}</p>
                <p>{{ familiar.apellido}}</p>
                <p>{{ familiar.fechaCumple}}</p>
                <p>{{ familiar.edad}}</p>
    {% endfor %}
</body>
</html>