<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../AppFamiliar/views.py"></script>
    <script src="../../db.sqlite3"></script>
    <title>Listado de Familiares</title>
</head>
<body>
    <h1>Hola Familia!</h1>
    <ul>
        {% for familiar in data_familia %}
                <li>{{ familiar.id }}</li>
                <li>{{ familiar.nombre }}</li>
                <li>{{ familiar.apellido}}</li>
                <li>{{ familiar.fechaCumple}}</li>
                <li>{{ familiar.edad}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>